:root {
    --color_bg1: #dcc1f5;
    --color_bg2: #C45C72;
    --color_font: #6D0451;
}

body{
  display: flex;
  flex-direction: column;
  height:100vh;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container-fluid{
  flex: 1;
}

.gradient {
    background: var(--color_bg1);
    background: -moz-linear-gradient(left,  var(--color_bg1) 0%, var(--color_bg2) 100%);
    background: -webkit-linear-gradient(left,  var(--color_bg1) 0%,var(--color_bg2) 100%);
    background: linear-gradient(to right,  var(--color_bg1) 0%,var(--color_bg2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color_bg1), endColorstr=var(--color_bg2),GradientType=1 );
}

.color_font {
    color: var(--color_font)
}

.color_bg1 {
    color: var(--color_bg1)
}

btn_self {

}