{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/theonepage/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/theonepage/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/theonepage/images/favicon-16x16.png">
    <link rel="manifest" href="/static/theonepage/images/site.webmanifest">
    <link rel="mask-icon" href="/static/theonepage/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/theonepage/images/favicon.ico">
<!--    <meta name="msapplication-TileColor" content="#da532c">-->
<!--    <meta name="msapplication-config" content="/static/theonepage/images/browserconfig.xml">-->
<!--    <meta name="theme-color" content="#ffffff">-->
    <link type="text/css" href="{% static 'theonepage/css/bootstrap.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'theonepage/css/styles.css' %}" rel="stylesheet">
    <title>Как получить от витаминов максимум пользы?</title>
</head>
<body class="gradient">
        <div class="container-fluid d-flex flex-column">
            <div class="row flex-fill d-flex h-100 justify-content-center">
                <div class="col"></div>
                <div class="col-md-auto">
                    <h2 class="text-center color_font">Как принимать витамины так, чтобы они приносили пользу,
                        а не бессмысленно улетали в унитаз?</h2>
                    <h6 class="text-center color_font">Подпишись на мой телеграм-канал о здоровье и получи гайд бесплатно.</h6>
                    <a href="https://t.me/persik_health" class="btn btn_self btn-lg">Получить гайд в Телеграм</a>
                </div>
                <div class="col"></div>
            </div>
        </div>

    <script src="{% static 'theonepage/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
